* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inter-family {
  font-family: "Inter", sans-serif;
}

/* header styles  */
.header {
  background-image: url("../images/banner.png");
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1320px;
  /* border: 1px solid red; */
  min-height: 600px;
  margin: 25px auto;
  background-blend-mode: overlay;
  margin-bottom: 100px;
}
.banner-content {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 632px;
}
.banner-content p {
  /* font-family: Merriweather; */
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
}
.banner-content h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* header styles end  */






/* 65% section styles */
.section-container-65-percent {
  width: 802.9px;
  height: 750px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.content-of-65-persent {
  text-align: center;
}
.content-of-65-persent h1 {
  font-size: 70px;
  color: red;
  font-weight: 700;
  margin-bottom: 30px;
}
.content-of-65-persent p {
  font-size: 24px;
  font-weight: 500;
  color: red;
  margin-bottom: 20px;
}
.content-of-65-persent h2 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0%;
  margin-bottom: 30px;
}
/* 65% section styles end */







/* welcome party styles */

.welcome-party {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
  background-image: url("/images/Vectorrr.png");
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-party img {
  width: 319.83px;
  height: 464.66px;
}
.welcome-party h2 {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 20px;
}
.welcome-party p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.welcome-party button {
  width: 140px;
  height: 50px;
  background-color: #b65c09;
  padding: 10px;
  font-size: 17px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}
.welcome-party button:hover {
  box-shadow: 0 3px 10px 10px #693403;
}
/* welcome party styles end */
